:root {
    --cor-primaria: #03260c;
    --cor-alternativa: #184017;
    --cor-secundaria: #eca222;
    --cor-terciaria: #bf2e21;
    --cor-fundo: #f2d09153;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.custom-button-primary {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button-primary-outline {
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    padding: 8px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button-primary-outline:hover {
    background-color: var(--cor-terciaria);
    color: white;
}

.text-custom-secundary {
    color: var(--cor-secundaria);
}

.custom-button-primary:hover {
    background-color: var(--cor-terciaria);
    color: white;
}

.custom-button-secundary {
    background-color: var(--cor-secundaria);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button-secundary:hover {
    background-color: var(--cor-terciaria);
}

.custom-button-secundary-light {
    background-color: #eca2224b;
    border: 2px solid gray;
    padding: 8px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button-secundary-light:hover {
    background-color: var(--cor-terciaria);
    color: white;
}

.bg-background {
    background-color: var(--cor-fundo);
}

.border-custom {
    border: 2px solid var(--cor-primaria);
    border-radius: 6px;
}

.bg-custom-primary {
    background-color: var(--cor-primaria);
}

.bg-custom-secundary {
    background-color: var(--cor-secundaria);
}

.bg-custom-primary-opacity {
    background-color: #03260c60;
}

.bg-custom-secundary-light {
    background-color: #eca22262;
    transition: 0.3s ease-out;
}

/* .bg-custom-secundary-light:hover {
    background-color: var(--cor-terciaria);
    color: white;
} */

.card-img-top {
    height: 250px;
    object-position: center 15%;
    object-fit: cover;
}

.text-custom-primary {
    color: var(--cor-primaria);
}

.border-custom-card {
    border: 2px solid rgba(128, 128, 128, 0.242);

}

.bg-custom-secundary-low {
    background-color: #fceed6;;
    color: var(--cor-alternativa);
}

.table-custom-primary thead th {
    background-color: var(--cor-primaria);
    color: white;
    border: 2px solid rgba(128, 128, 128, 0.744);
    padding: 0.6rem;
    text-align: center;
}

.table-custom-primary tbody tr td{
    border: 2px solid rgb(128, 128, 128);
    background-color: #ffffff9d;
}