:root {
    --cor-primaria: #03260c;
    --cor-alternativa: #184017;
    --cor-secundaria: #fdb53b;
    --cor-terciaria: #bf2e21;
    --cor-fundo: #f2d09153;
}

.custom-button-primary {
    color: var(--cor-secundaria);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.custom-button-primary:hover {
    background-color: var(--cor-alternativa);
}

.custom-button-secundary {
    background-color: var(--cor-secundaria);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button-secundary:hover {
    background-color: var(--cor-terciaria);
}

.bg-background {
    background-color: var(--cor-fundo);
}

.border-custom {
    border: 2px solid var(--cor-primaria);
    border-radius: 10px;
}

.bg-custom-primary {
    background-color: var(--cor-primaria);
}

.card-img-top {
    height: 250px;
    object-position: center 15%;
    object-fit: cover;
}

.text-custom-primary {
    color: var(--cor-primaria);
}