:root {
    --cor-primaria: #03260c;
    --cor-alternativa: #184017;
    --cor-secundaria: #eca222;
    --cor-terciaria: #bf2e21;
    --cor-fundo: #f2d09153;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.custom-button-primary {
    background-color: var(--cor-primaria);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button-primary-outline {
    color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    padding: 8px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button-primary-outline:hover {
    background-color: var(--cor-terciaria);
    color: white;
}

.text-custom-secundary {
    color: var(--cor-secundaria);
}

.custom-button-primary:hover {
    background-color: var(--cor-terciaria);
    color: white;
}

.custom-button-secundary {
    background-color: var(--cor-secundaria);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button-secundary:hover {
    background-color: var(--cor-terciaria);
}

.custom-button-secundary-light {
    background-color: #eca2224b;
    border: 2px solid gray;
    padding: 8px 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button-secundary-light:hover {
    background-color: var(--cor-terciaria);
    color: white;
}

.bg-background {
    background-color: var(--cor-fundo);
}

.border-custom {
    border: 2px solid var(--cor-primaria);
    border-radius: 6px;
}

.bg-custom-primary {
    background-color: var(--cor-primaria);
}

.bg-custom-secundary {
    background-color: var(--cor-secundaria);
}

.bg-custom-primary-opacity {
    background-color: #03260c60;
}

.bg-custom-secundary-light {
    background-color: #eca22262;
    transition: 0.3s ease-out;
}

/* .bg-custom-secundary-light:hover {
    background-color: var(--cor-terciaria);
    color: white;
} */

.card-img-top {
    height: 250px;
    object-position: center 15%;
    object-fit: cover;
}

.text-custom-primary {
    color: var(--cor-primaria);
}

.border-custom-card {
    border: 2px solid rgba(128, 128, 128, 0.242);

}

.bg-custom-secundary-low {
    background-color: #fceed6;;
    color: var(--cor-alternativa);
}

.table-custom-primary thead th {
    background-color: var(--cor-primaria);
    color: white;
    border: 2px solid rgba(128, 128, 128, 0.744);
    padding: 0.6rem;
    text-align: center;
}

.table-custom-primary tbody tr td{
    border: 2px solid rgb(128, 128, 128);
    background-color: #ffffff9d;
}

/* importei as configurações de botão do bootstrap para personalizá-lo */
.btn-custom-brown-outline {
    --bs-btn-color: #974115;
  --bs-btn-border-color: #974115;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #974115;
  --bs-btn-hover-border-color: #974115;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #974115;
  --bs-btn-active-border-color: #974115;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #974115;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #974115;
  --bs-gradient: none;
}

.btn-custom-green-outline {
    --bs-btn-color: #0e2903;
  --bs-btn-border-color: #0e2903;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0e2903;
  --bs-btn-hover-border-color: #0e2903;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0e2903;
  --bs-btn-active-border-color: #0e2903;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0e2903;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0e2903;
  --bs-gradient: none;
}

.btn-custom-orange-outline {
    --bs-btn-color: #ff4d00;
  --bs-btn-border-color: #ff4d00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff4d00;
  --bs-btn-hover-border-color: #ff4d00;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff4d00b7;
  --bs-btn-active-border-color: #ff4d00;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #ff4d00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ff4d00;
  --bs-gradient: none;
}

.btn-custom-blue-outline {
    --bs-btn-color: #201dd7;
  --bs-btn-border-color: #201dd7;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #201dd7;
  --bs-btn-hover-border-color: #201dd7;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5755f9;
  --bs-btn-active-border-color: #201dd7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #201dd7;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #201dd7;
  --bs-gradient: none;
}